html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.halls h4 {
    margin: 0;
    margin-bottom: 10px;
}

.halls .item_tab {
    padding:10px;
    margin-left: -10px;
}

.halls .tab {
    border:1px solid #ececec;
    padding:15px;
}

.halls .tab .scroll_block{
    height: 185px;
    overflow: auto;
}

.halls .tab .order{
    border:1px solid #ffbebe;
    padding:5px 7px;
    margin: 0 0 10px 0;
    background: #ffeaea;
}

.halls .tab .order:last-child {
    margin-bottom: 0;
}

.halls .tab .order .name {
    font-weight: bold;
}

.halls .tab .order .name.margin {
    margin-top: 10px;
}

.halls .tab .order.status_new{
    border:1px solid #ffbebe;
    background: #ffeaea;
}

.halls .tab .order.status_working{
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.halls .tab .order .btn {
    margin: 10px 0 5px 0;
}